[submodule "inż/2/PROI/elka-quest"]
	path = inż/2/PROI/elka-quest
	url = https://github.com/spietras/elka-quest
[submodule "inż/4/ARKO/x86"]
	path = inż/4/ARKO/x86
	url = https://github.com/spietras/huffman-coding-x86
[submodule "inż/5/PSZT/perceptron"]
	path = inż/5/PSZT/perceptron
	url = https://github.com/spietras/perceptron
[submodule "inż/6/IUM/eShopping"]
	path = inż/6/IUM/eShopping
	url = https://github.com/spietras/eshoppping
[submodule "inż/6/TIN/NFS"]
	path = inż/6/TIN/NFS
	url = https://github.com/spietras/network-file-system
[submodule "inż/6/TKOM/timon-interpreter"]
	path = inż/6/TKOM/timon-interpreter
	url = https://github.com/spietras/timon-interpreter
