[submodule "inż/7/ALHE/antcolony"]
	path = inż/7/ALHE/antcolony
	url = https://github.com/spietras/antcolony
[submodule "mgr/1/AMHE/genetwork"]
	path = mgr/1/AMHE/genetwork
	url = https://github.com/spietras/genetwork
[submodule "mgr/1/NLP/textgen"]
	path = mgr/1/NLP/textgen
	url = https://github.com/spietras/textgen
