
Semafory/\.idea/

Semafory/cmake-build-debug/

Semafory/CMakeLists\.txt

Semafory/koncepcja\.odt

Monitory/\.idea/

Monitory/cmake-build-debug/

Monitory/copy/

Monitory/workingCopy/

Monitory/CMakeLists\.txt

Monitory/koncepcja\.odt

System plików/\.idea/

System plików/cmake-build-debug/

System plików/CMakeLists\.txt
