
Liniowe/Debug/

Liniowe/Release/

Liniowe/src/backup/

Liniowe/src/Test/

Liniowe/src/workingBackup/

Liniowe/src/CMakeLists\.txt

Liniowe/tests/CMakeLists\.txt

Liniowe/CMakeLists\.txt

Liniowe/README\.html

Liniowe/README\.md

Liniowe/README\.pdf

Mapy/Debug/

Mapy/Release/

Mapy/src/copy/

Mapy/src/copy2/

Mapy/src/copy3/

Mapy/src/workingCopy/

Mapy/src/CMakeLists\.txt

Mapy/tests/CMakeLists\.txt

Mapy/CMakeLists\.txt

Mapy/README\.html

Mapy/README\.md

Mapy/README\.pdf

Grafy/Izomorfizmy/

Grafy/Mosty/\.idea/

Grafy/Mosty/cmake-build-debug/

Grafy/Mosty/CMakeLists\.txt

Grafy/Mosty/README\.html

Grafy/Mosty/README\.md

Grafy/Mosty/README\.pdf

Grafy/Mosty/graf\.txt
